# Server Configuration
PORT=3000
NODE_ENV=development
JWT_SECRET=unishare-secret-key-12345

# SSLCommerz Configuration
SSLCOMMERZ_STORE_ID=test67c71e227038e
SSLCOMMERZ_STORE_PASSWORD=test67c71e227038e@ssl
SSLCOMMERZ_IS_LIVE=false

# Firebase Client Configuration (Vite)
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""

# Firebase Admin (Backend)
FIREBASE_SERVICE_ACCOUNT_JSON=""

# Gemini AI (If used)
GEMINI_API_KEY=""
APP_URL="http://localhost:3000"
